.fabio .informations, .fabio .levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px;
}

.informations h1, .questions h1, .levels h1 {
  margin-bottom: 27px;
  font-size: 23px;
  font-weight: 700;
}

.informations .quizz-information, .questions .question, .levels .level {
  width: 100%;
  height: 256px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding-top: 21px;
  border-radius: 5px;
}

.quizz-information input, .question input, .level input {
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  height: 46px;
  margin: 0px 17px;
  margin-bottom: 9px;
  padding-left: 5px;
  font-size: 19px;
  outline: none;
}

.quizz-information input::placeholder, .question input::placeholder, .level input::placeholder {
  color: #BABABA;
  padding-left: 18px;
}

.informations button, .questions button, .levels button {
  width: 368px;
  height: 54px;
  border-radius: 15px;
  background-color: #EC362D;
  border: none;
  color: #FFF5F4;
  font-size: 21px;
  cursor: pointer;
  margin-top: 85px;
}

.questions button {
  margin-top: 61px;
}

.levels button {
  margin-top: 75px;
}


.fabio .questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px;
}

.questions .question, .levels .level {
  height: 74px;
  overflow: hidden;
  text-align: start;
  padding-top: 0;
  margin-bottom: 24px;
}

.questions .question p, .levels .level p {
  margin-left: 17px;
  margin-bottom: 27px;
  margin-top: 27px;
  font-size: 20px;
  font-weight: 700;
}

.question.selected {
  height: 825px;
}

.question.selected p, .level.selected p {
  margin-bottom: 12px;
}

.header {
  display: flex; 
  justify-content: space-between;
}

.header ion-icon {
  margin-top: 27px;
  margin-right: 17px;
  color: #000000;
  font-size: 23px;
}

.question.selected ion-icon, .level.selected ion-icon {
  display: none;
}

.question-box {
  width: 100%;
}

.level-box {
  width: 100%;
}

.fabio .level.selected {
  height: 316px;
}

.level input {
  margin-bottom: 14px;
}