@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

.joao{
    width: 100%;
}

.quizzQuestions{
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quizzTitle{
    width: 100%;
    height: 227px;
    margin-top: -72px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizzTitle img{
    width: 100%;
    height: 100%;
    margin-top: 16px;
    filter: brightness(60%);
}
.quizzTitle h1{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #ffffff;
}

.joao .questions{
    height: 100%;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center
    
}

.joao .question{
    margin-bottom: 42px;
    padding: 28px 36px;
    width: 759px;
    height: 676px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

}

.questionTitle{
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
}

.options{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-between;
}
.answer{
    width: 330px;
    height: 218px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    cursor: pointer;
}

.answer img{
    width: 330px;
    height: 175px;
    margin-bottom: 10px;
}

.correctAsw {
    color: #009C22;
}

.wrongAsw {
    color:#FF4B4B;
}

.nonClicked{
    opacity: 0.3;
}

.end{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.endQuiz{
    width: 759px;
    height: 430px;
    background-color: #FFFFFF;
    margin-top: 44px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 18px;
}
.endTitle{
    width: 727px;
    height: 99px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}
.endmessage{
    display: flex;
    padding-top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}
.endmessage img{
    width: 364px;
    height: 273px;
    margin-right: 21px;

}

.restart{
    margin-top: 57px;
    width: 260px;
    height: 52px;
    border-radius: 15px;
    background-color: #EC362D;
    color: #FFF5F4;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.home{
    width: 260px;
    height: 44px;
    margin-top: 16px;
    margin-bottom: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #818181;
    cursor: pointer;
}