@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

:root{
    --red: #EC362D;
    --gray-text:#B9B9B9;
    --gray:#D5D5D5;
}

*{
    box-sizing: border-box;
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
header{
    background-color: var(--red);
    font-weight: 700;
    font-size: 37px;
    width: 100%;
    height: 69px;
    text-align: center;
    padding-top: 16px;
    color: #FFFFFF;
    box-shadow: 0 8px 4px #D1D1D1;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 64px 0;
}
.createQuizz{
    width: 100%;
    border: 1px dashed var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6em;
}
.createQuizz p {
    text-align: center;
    color: var(--gray-text);
    font-size: 20px;
    width: 250px;
    margin-top: 32px;
}
  
.createQuizz button{
    color: var(--red);
    border: 1px dashed var(--red);
    border-color: var(--red);
    background: none;
    width: 151px;
    height: 40px;
    border-radius: 24px;
    margin: 32px;
}
.createQuizz button:hover{
    cursor: pointer;
}
section{
    margin-bottom: 64px;
}
.quizzes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
h2{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 button{
    border: none;
    background-color: none;
}
h2 button:hover{
    cursor: pointer;
}
ion-icon{
    font-size: 24px;
    color: var(--red);
}


.quizz{
    width: 340px;
    height: 181px;
    margin: 16px 0;
    position: relative;
    border-radius: 8px;
}
.quizz:hover{
    cursor: pointer;
}
.quizz .gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    border-radius: 8px;
}
.quizz img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.quizz p {
    position: absolute;
    max-width: 330px;
    overflow: hidden;
    bottom: 12px;
    left: 8px;
    color: #FFFFFF;
    text-align: center;
}

.hide{
    display:none;
}